[project]
name = "hackathon-backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "boto3>=1.42.4",
    "fastapi[standard]>=0.123.5",
    "ruff>=0.14.7",
]
